* {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    max-width: 768px;
    font-family: "SF Pro Display", sans-serif;
    font-weight: 200;
}

input {
    border: 1px solid white;
}

header {
    width: 100%;
    color: #c9c9c9;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: -3px;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 1.5px firebrick solid;
}

.body-container {
    padding: 20px;
}

.title {
    background: #f6b195;
    text-align: center;
    border: 4px #c9c9c9 solid;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    font-family: "Circular", sans-serif;
    font-weight: 600;
    color: #303030;
    text-align: center;
    letter-spacing: 2.5px;
    line-height: 1.5em;
    padding: 0 20px;
}

p {
    font-family: "Circular", sans-serif;
    font-size: 14px;
    color: #303030;
    line-height: 1.25em;
    padding-bottom: 20px;
}

.form-container {
    margin-top: 2px;
    padding: 15px 0;
    border-top: 2px #c9c9c9 solid
}

fieldset {
    border: none;
    /* padding: 50px 50px; */
    margin: 10px 0;
}

.field {
    padding-left: 10px;
}
legend {
    font-family: "Circular", sans-serif;
    font-weight: 800;
    letter-spacing: 1.25px;
    font-size: 20px;
    color: #303030;
    width: 100%;
    text-align: center;
    padding: 20px 0 0;
    margin: 20px;
}

label {
    font-family: "SF Pro Display", sans-serif;
    color: #303030;
}

/* .contact-info {
    padding: 50px 50px 35px 50px;
} */

.contact-info, .flex-pair-1 {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
}

.contact-info, .flex-pair-2 {
    display: flex;
    flex-direction: row;
}

.contact-info label {
    margin-bottom: 10px;
}

.contact-info input {
    height: 50px;
    margin-bottom: 15px;
}

.select-css {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 16px;
    height: 50px;
    /* width: 75%; */
    max-width: 100%;
    border-radius: 3px;
    appearance: none;
    background-color: #fff;
}

input,
select {
    margin-bottom: 20px;
    border: 1px #c9c9c9 solid;
    border-radius: 3px;
    transition-duration: 500ms;
}

input:focus,
textarea:focus {
  background: #c9c9c9;
}

input[placeholder] {
    font-family: "SF Pro Display", sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}



input:hover,
select:hover {
    background: #55cc4693;
}

#telephone {
    max-width: 50%;
}

input[type="checkbox"]:checked + label {
    font-weight: 500;
  }

input[type="radio"]:checked + label {
font-weight: 500;
}

#comment {
    margin: 10px 0 20px 0;
    padding: 10px 10px 60px;
    border-radius: 3px;
    border-color: lightgray;
    font-family: "Amiri", serif;
    font-style: italic;
    font-size: 14px;
    letter-spacing: 1.15px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

#zip_code {
    max-width: 25%;
}

.newsletter-label {
    display: inline-block;
    font-family: "Amiri", serif;
    letter-spacing: 1.25px;
    font-style: italic;
    font-size: 18px;
    line-height: 1.25;
    margin: 20px 0 10px;
}

/* .newsletter {
    padding: 50px;
} */

.newsletter-label {
    margin-bottom: 15px:
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    margin-right: 20px;
}

input,
select,
button {
    cursor: pointer;
}

button {
    font-family: "Circular", sans-serif;
    font-size: 16px;
    letter-spacing: 1.75px;
    background: #08598ca0;
    color: #ffffff;
}

.btn {
    border-radius: 3px;
    padding: 14px 16px;
    margin: 10px 0 20px;
    width: 100%;
}

.btn:hover {
    opacity: .45;
    transition-duration: 500ms;
    background: #56cc46c0;
}

.btn:active {
    opacity: .9;
    background: #56cc46;
}

input:focus,
label:focus,
textarea:focus,
button:focus {
    outline: none;
}

footer {
    background: #95609e;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    font-family: "SF Pro Display", sans-serif;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-weight: 200;
}


@media (min-width: 768px) {

    .contact-info,
    .flex-pair-1 {
        flex-direction: row;
    }

    .contact-info label {
        flex-basis: 25%;
        height: 50px;
        margin: auto 0;
    }

    .contact-info input {
        -moz-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        flex-basis: 75%;
    }

    .select-css {
        width: 75%;
    }

    #telephone {
        max-width: 25%;
    }

    #zip_code {
        max-width: 25%;
    }
}