/* 
Once you have everything in place for the mobile layout, use a media query to add a breakpoint to adjust the layout for wider tablet and desktop screens.
Match the design as it should look on a tablet or desktop that is 768px wide using the desktop-form.png mockup.
Use a mobile-first approach by writing your media queries using the min-width property in your CSS. 
*/

/* 
Once all your breakpoints are in place, double check your layout matches both the mockups. 
*/

/* FOR EXCEEDS: Add at least the following additional styling enhancements to the form, feel free to add extra styling but leave the basic layout the same as the mockup:
    - Change the background color for at least ONE of the main sections of the site.
    - Uses CSS transitions for focus states.
    - Use CSS transition effects for highlighting the look of the form fields.
        For example, make a background color fade into view when the user clicks on a text field, and fade out when the user clicks or tabs out of the field. */





/* Attribute Selectors ---------- */

form[class="form-subscribe"] {
    padding: 20px 24px;
    background: #031e3d;
    color: white;
}

div[id="container"] {
    max-width: 500px;
    margin: auto;
}

input[type="text"] {
    background: #fdfee6;
}

input[type="menu"],
input[type="reset"],
input[type="submit"],
input[type="radio"] {
    cursor: pointer;
}

a[target="_blank"] {
    color: #39add1;
    text-decoration: none;
    border-bottom: 1px dotted;
}

/* DRY Classes ---------- */

.btn {
    cursor: pointer;
    font-size: .875em;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

.btn:hover {
    opacity: .75;
}

@media (min-width: 768px) {
    .inln {
        width: auto;
        display: inline-block;
    }

    .btn + .btn {
        margin-left: 20px;
    }
}

/* Combinators ---------- */

form > a {
    font-size: .7em;
}