/* 
Once all your breakpoints are in place, double check your layout matches both the mockups. 
*/

/* FOR EXCEEDS: Add at least the following additional styling enhancements to the form, feel free to add extra styling but leave the basic layout the same as the mockup:
    - Uses CSS transitions for focus states.
    - Use CSS transition effects for highlighting the look of the form fields.
        For example, make a background color fade into view when the user clicks on a text field, and fade out when the user clicks or tabs out of the field. */


:root {
    background: #ffffff;
}

header {
    width: 100%;
    background: #e9f0f2;
    color: #303030;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: -3px;
}

h1 {
    font-family: "Nunito Sans", sans-serif;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 1.5px firebrick solid;
}



/* note: body-container is a wrap that adds padding around title card and form. this helps to illustrate the double line embellishment between the two parts of the body. */

.body-container {
    padding: 20px;
    background: #e9f0f2;
}



.title {
    text-align: center;
    border-bottom: 4px #c9c9c9 solid;
    padding-left: 0;
    padding-right: 0;
}

h2 {
    font-family: "Circular", sans-serif;
    font-weight: 600;
    color: #303030;
    text-align: center;
    letter-spacing: 2.5px;
    line-height: 1.5em;
    padding: 0 20px;
}

p {
    font-family: "PlayFair", serif;
    font-size: 14px;
    color: #303030;
    line-height: 1.25em;
    padding-bottom: 20px;
}



/* note: form-container adds the top margin to each fieldset */

.form-container {
    margin-top: 2px;
    padding: 15px 0;
    border-top: 2px #c9c9c9 solid
}



form[class="form-subscribe"] {
    font-family: "Montserrat", sans-serif;
    color: #000;
}



fieldset {
    border: none;
    padding: 20px 0 0 0;
    margin: 10px 0;
}



legend {
    font-family: "Circular", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 20px 0 0;
    font-size: 20px;
    color: #303030;
    width: 100%;
    text-align: center;
    
}



label {
    font-family: "SF Pro Display", sans-serif;
    color: #303030;
}

.{
    display: inline-block;
    padding: 5px 10px;
}



/* note: fixes my problem to size all input fields using a class to exclude and include troublesome elements such as the radio and select elements respectively. */

input,
select {
    margin: 10px 0 20px 0;
    /* border-style: 2px #000 solid; */
    /* background: #bababa; */
    border: 1px #c9c9c9 solid;
    border-radius: 3px;
}

input:focus,
textarea:focus {
  border-color: #cbb784b9;
  background: rgb(240, 240, 240);
}

input[placeholder] {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    padding-left: 10px;
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
  }

#zip_code {
    width: 50%;
}

#comment {
    margin: 10px 0 20px 0;
    padding: 10px 10px 30px;
}

/* note: this is a custom class i'm building for the select button using a reference guide from https://www.filamentgroup.com/lab/select-css.html */

.select-css {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 16px;
    width: 100%;
    max-width: 100%;
    margin: 10px 0 20px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 3px;
    appearance: none;
    background-color: #fff;
}

.newsletter-label {
    display: inline-block;
    font-family: "PlayFair", serif;
    line-height: 1.25;
    margin: 20px 0 10px;
}
.field {
    width: 100%;
    max-width: 100%;
    font-family: "PlayFair", sans-serif;
    padding: 14px 0;
    background: #fff;
    border-radius: 3px;
    border: 1px #c9c9c9 solid;
    box-sizing: border-box;
}



button {
    font-family: "Circular", sans-serif;
    background: #08598ca0;
    color: #303030;
    text-transform: uppercase;
}

a[target="_blank"] {
    color: #39add1;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.btn {
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.75px;
    border-radius: 3px;
    padding: 14px 16px;
    margin: 10px 0 20px;
    width: 100%;
}

.btn:hover {
    opacity: .75;
    background: #08598ce6;
}

.btn:active {
    box-shadow: inset 0px 1px 3px 2px
    rgba(0, 0, 0, 0.4);
    background: #06456ce6;
}



input,
select,
button {
    cursor: pointer;
}

input:focus {
    outline: 3px lightblue solid;
}

label:focus {
    outline: 3px lightblue solid;
}

textarea:focus {
    outline: 3px lightblue solid;
}



footer {
    background: #e9f0f2;
    color: ##c9c9c9;
    padding: 20px 40px;
    text-align: center;
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
}



@media (min-width: 768px) {

    body {
        max-width: 60%;
        margin: auto;
    }
    
        header {
            background: #04293f;
            color: #fff;
        }


    .container {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        /* justify-content: space-around; */
    }
    
    legend {
        text-align: left;
    }

    input[placeholder] {
        text-align: right;
        padding-right: 10px;
    }

    .item {
        flex-grow: 2;
    }

    .label {
        flex-grow: 1;
    }

    /* .btn + .btn {
        margin-left: 20px;
    } */


    /* .inln {
        width: auto;
        display: inline-block;
    } */


}